<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Proyecto.Properties.Settings.mexConnectionString"
            connectionString="server=Localhost;user id=root;password=1234;database=mex"
            providerName="MySql.Data.MySqlClient" />
        <add name="Proyecto.Properties.Settings.mexConnectionString1"
            connectionString="server=Localhost;user id=root;database=mex"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup useLegacyV2RuntimeActivationPolicy="true"> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>